@{
    ViewData["Title"] = "Home Page";
}

<div style="margin-top:25px">
    <h2>@ViewData["Title"]</h2>
    <p>@ViewData["Message"]</p>

    <p>Total de visitas: @ViewData["VisitasTotales"]</p>
    <p>Recargas de la página: @ViewData["RecargasPag"]</p>

    <form asp-action="Reload" method="post">
        <button type="submit">Recargar</button>
    </form>
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
